- slider_images = SliderImage.all
- content_for :extra_javascript do
  = javascript_include_tag 'modestmaps.min.js'
  = javascript_include_tag 'follow2.js'

:css
  #map {
    float:right;
    width: 100%;
    height: 700px;
    margin-left: -150px;
    }
  #main-wrap {
    overflow: hidden;
  }

:javascript
  var count = 0;
  var places = [];
  window.onload = function(){
        initMap();
    };
  var map;
  var pointsOnMap = [];
  var initMap = function() {
    var mm = com.modestmaps;
    var template = 'http://otile2.mqcdn.com/tiles/1.0.0/osm/{Z}/{X}/{Y}.jpg';
    var subdomains = ['', 'a.', 'b.', 'c.'];
    var provider = new mm.TemplatedLayer(template, subdomains);
    var centerLat = 37.811530;
    var centerLong = -122.2666097;

    map = new MM.Map('map', provider, null, []);
    
    for(var i =0; i < places.length; i++){
    //add new points to array for later manipulation
    //console.log(places[i].lat);
     pointsOnMap[places[i].id] = new mm.Follower(map, new mm.Location(places[i].lat, places[i].long), "$"+ places[i].price+" Rs");
     
     if(i==0) {
        centerLat = places[i].lat;
        centerLong = places[i].long;
     }
     
    }
    
    //center it at first point
    map.setCenterZoom(new mm.Location(centerLat, centerLong), 12);
  }
  
  //function for mouseover change.
  function changeFill(el){
    var bubble = el.querySelector("#bubble");
    var bubCtx = bubble.getContext('2d');
    bubCtx.fillStyle = "#006666";
    bubCtx.fill();
  }
  
  //function to change back on mouseout.
  function changeBack(el){
    var bubble = el.querySelector("#bubble");
    var bubCtx = bubble.getContext('2d');
    bubCtx.fillStyle = "rgb(247, 68, 68)";
    bubCtx.fill();
  }


-@listings.each do |listing|
  :javascript
      count++;
      //console.log(count);
      var test = "/listings/#{listing.url}"
      var run = httpGet(test);
      var teststring = '<input id="origin_loc_latitude" name="origin_loc[latitude]" type="hidden" value="'
      var teststring2 = '<input id="origin_loc_longitude" name="origin_loc[longitude]" type="hidden" value="'
      var index = run.indexOf(teststring);
      var index2 = run.indexOf(teststring2)
      var go = run.substring(index + teststring.length, index + teststring.length+10);
      var go2 = run.substring(index2 + teststring2.length, index2 + teststring2.length+10);
      
      var lat = parseFloat(go);
      var long = parseFloat(go2);
      //console.log(lat + " " + long);
      
      var place = {
      price: "#{listing.price}",
      id: "#{listing.id}",
      lat: lat,
      long: long,
      }
      places.push(place);
      function httpGet(theUrl)
      {
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
          xmlHttp.send( null );
          return xmlHttp.responseText;
      }

- content_for :javascript do
  initialize_homepage();
-unless params[:value].present?
  .container-fluid
    .row.top
      #bs-carousel.carousel.fade-carousel.slide{"data-interval" => "12000", "data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          -(0...slider_images.count).each do |val|
            %li{ :class=>"#{(val==0 ? 'active' : '')}", "data-slide-to" => "#{val}", "data-target" => "#bs-carousel"}
        / Wrapper for slides
        .carousel-inner
          - slider_images.each_with_index do |slide,index|
            - if index == 0
              .item.slides.active
                .slide
                  %img{:alt => "slide", :src => "#{slide.avatar}", :width => "100%", :height => ""}/
                .hero
                  %hgroup
                    %h1.gap-10
                      Where would you like to
                      = succeed "work" do
                        %br/
                      today?
                    %h3 Your Office Anywhere, Anytime
                  .browse-viwe-search-form
                    %form#homepage-filters{:method => "get"}
                      - if @current_community.private?
                        %a.inline-big-button{href: sign_up_path}
                          .content
                            = t("layouts.application.connect")
                      - else
                        - if(feature_enabled?(:location_search))
                          = render :partial => "location_bar"
                        - else
                          = render :partial => "search_bar"
            - else
              .item.slides
                .slide
                  %img{:alt => "slide", :src => "#{slide.avatar}", :width => "100%", :height => "450"}/
                .hero
                  %hgroup
                    %h1.gap-10
                      Where would you like to
                      = succeed "work" do
                        %br/
                      today?
                    %h3 Your Office Anywhere, Anytime
                  .browse-view-search-form
                    %form#homepage-filters{:method => "get"}
                      - if(feature_enabled?(:location_search))
                        = render :partial => "location_bar"
                      - else
                        = render :partial => "search_bar"
             
      / carousel-inner close
    / carousel close
  / row close
/ container-fluid close
- if @listings.blank?
  %h1#message.gap-10
    %font{:size => "5", :color => "red"}
      No results found, Try again 
.container-fluid{style: "margin-top: 1%;"}
  .row
    .col-md-12.pad-top-10.scroll2
      =render "price_filter" unless params[:value]
      .row.pad-top-20
        = render "change_view" unless params[:value]
        -if params[:value].present?
          .row
            .col-md-7.pad-top-10.scroll2
              =render "price_filter"
              .row
                = render "change_view"
              #products.list-group
                = render :partial => "new_grid_item", :collection => @listings, :as => :listing
            .col-md-5.pad-top-10
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5938.979980771974!2d12.44768382450996!3d41.90382425201743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325890a57d42d3d%3A0x94f9ab23a7eb0!2sVatican+City!5e0!3m2!1sen!2sin!4v1449305682968", :style => "border:0", :width => "100%"}
        - else
          .col-sm-12.gap-10.row
            #products.list-group   
              = render :partial => "new_grid_item", :collection => @listings, :as => :listing

/ .row
/   #map