- slider_images = SliderImage.all
.container-fluid
  .row.top
    #bs-carousel.carousel.fade-carousel.slide{"data-interval" => "12000", "data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        -(0...slider_images.count).each do |val|
          %li{ :class=>"#{(val==0 ? 'active' : '')}", "data-slide-to" => "#{val}", "data-target" => "#bs-carousel"}
      / Wrapper for slides
      .carousel-inner
        - slider_images.each_with_index do |slide,index|
          - if index == 0
            .item.slides.active
              .slide
                %img{:alt => "slide", :src => "#{slide.avatar}", :width => "1920", :height => "450"}/
              .hero
                %hgroup
                  %h1.gap-10
                    Where would you like to
                    = succeed "work" do
                      %br/
                    today?
                  %h3 Your Office Anywhere, Anytime
                %form.navbar-form{:role => "search"}
                  .input-group.wid-100
                    %input.form-control{:name => "q", :placeholder => "Search", :type => "text"}
                      .input-group-btn
                        %button.btn.btn-danger.wid-100{:type => "submit",:style=>"margin-top: 0px;"} search
          - else
            .item.slides
              .slide
                %img{:alt => "slide", :src => "#{slide.avatar}", :width => "1920", :height => "450"}/
              .hero
                %hgroup
                  %h1.gap-10
                    Where would you like to
                    = succeed "work" do
                      %br/
                    today?
                  %h3 Your Office Anywhere, Anytime
                %form.navbar-form{:role => "search"}
                  .input-group.wid-100
                    %input.form-control{:name => "q", :placeholder => "Search", :type => "text"}
                      .input-group-btn
                        %button.btn.btn-danger.wid-100{:type => "submit",:style=>"margin-top: 0px;"} search
           
      / carousel-inner close
    / carousel close
  / row close
/ container-fluid close
.container-fluid
  .row
    .col-md-12.pad-top-10.scroll2
      %form#commentForm.form-horizontal{:action => "#", :method => "post", :role => "form"}
        .form-group.row
          .col-sm-2.gap-10
            %label City
          .col-sm-4.gap-10
            %select#sel1.form-control
              - if params[:category] == "all"
                %option{:value=>"all", :selected=>"selected"  }
                  = (link_to t("homepage.filters.all_categories"), params.merge({category: "all"}), :class => "home-categories-main #{if @selected_category.nil? then 'selected' end}").html_safe
              - else
                %option{:value=>"all"}
                  = (link_to t("homepage.filters.all_categories"), params.merge({category: "all"}), :class => "home-categories-main #{if @selected_category.nil? then 'selected' end}")
              - @main_categories.each do |category|
                - show_subcategories = show_subcategory_list(category, Maybe(@selected_category).id.to_i.or_else(nil))
                
                - if params[:category] == category.display_name(I18n.locale).downcase
                  %option{:value=> category.display_name(I18n.locale), :selected=>"selected" }
                    = link_to category.display_name(I18n.locale), params.merge({category: category}), :class => "home-categories-main #{if show_subcategories then 'selected' end} #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                - else
                  %option{:value=> category.display_name(I18n.locale)}
                    = link_to category.display_name(I18n.locale), params.merge({category: category}), :class => "home-categories-main #{if show_subcategories then 'selected' end} #{if category.has_subcategories? then 'has-subcategories' end}", :data => {category: category.id}
                - if category.children
                  - if show_subcategories
                    - category.children.each do |child|
                      - is_selected = @selected_category == child
                      
                      - if params[:category] == child.display_name(I18n.locale).downcase
                        %option{:value=> child.display_name(I18n.locale), :selected=> "selected" }
                          = link_to child.display_name(I18n.locale), params.merge({category: child}), :class => "home-categories-sub #{if is_selected then 'selected' end}", :data => {:"sub-category" =>child.id}
                      -else 
                        %option{:value=> child.display_name(I18n.locale) }
                          = link_to child.display_name(I18n.locale), params.merge({category: child}), :class => "home-categories-sub #{if is_selected then 'selected' end}", :data => {:"sub-category" =>child.id}
          .col-sm-2.gap-10
            %label Spacessy Type
          .col-sm-4.gap-10
            %select#sel1.form-control
              %option{:value => "1"} Option
              %option{:value => "1"} Option1
              %option{:value => "1"} Option2
              %option{:value => "1"} Option3
        .form-group.row
          .col-sm-2.gap-10
            %label{:for => "amount"} Price range:
          .col-md-10.gap-10
            %input#amount.gap-10{:readonly => "", :style => "border:0; color:#FF6666;", :type => "text"}
              #slider-range.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
              .ui-slider-range.ui-widget-header.ui-corner-all{:style => "left: 0.7%; width: 99.3%;"}
              %span.ui-slider-handle.ui-state-default.ui-corner-all{:style => "left: 0.7%;", :tabindex => "0"}
              %span.ui-slider-handle.ui-state-default.ui-corner-all{:style => "left: 100%;", :tabindex => "0"}
      .row.pad-top-20
        .col-sm-12.sidebar
          %button.btn.btn-danger.mini-submenu{:role => "button", :style => "display: block;"} More
          .list-group{:style => "display: none;"}
            %span.list-group-item.active{:href => "#"}
              Submenu
              %span#slide-submenu.pull-right
                %i.fa.fa-times
            .form-group.row
              .col-sm-6.gap-10.pad-top-10
                %h4 Spacessy Type
                %hr
                  .checkbox
                    %label
                      %input{:type => "checkbox", :value => ""} Shared Office
                  .checkbox
                    %label
                      %input{:type => "checkbox", :value => ""} Home Office (Living/Study Room)
                  .checkbox.disabled
                    %label
                      %input{:type => "checkbox", :value => ""} Cafes Space
                  .checkbox.disabled
                    %label
                      %input{:type => "checkbox", :value => ""} Class
                  .checkbox.disabled
                    %label
                      %input{:type => "checkbox", :value => ""} Music/Jamming Studio
                  .checkbox.disabled
                    %label
                      %input{:type => "checkbox", :value => ""} Photostudios
              .col-sm-6.gap-10.pad-top-10.pad-lft
                %h4 Duration Availability
                %hr
                  .checkbox
                    %label
                      %input{:type => "checkbox", :value => ""} Hourly
                  .checkbox
                    %label
                      %input{:type => "checkbox", :value => ""} Full Day
                  .checkbox.disabled
                    %label
                      %input{:type => "checkbox", :value => ""} Weekly
                  .checkbox.disabled
                    %label
                      %input{:type => "checkbox", :value => ""} Monthly
            .form-group.row
              .col-sm-6.gap-10
                %h4 Spacessy Purpose
                %hr
                  .checkbox
                    %label
                      %input{:type => "checkbox", :value => ""} Business
                  .checkbox
                    %label
                      %input{:type => "checkbox", :value => ""} Social
              .col-sm-6.gap-10
                %h4 Amenities
                %hr
                  .scroll
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Wifi
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Air-Condition
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Dedicated power points
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Readily available tables and chairs
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Pantry
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Projector
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Toilet
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Good View
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Free Parking
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Metered Parking
                    .checkbox
                      %label
                        %input{:type => "checkbox", :value => ""} Coffee/ Tea/ Water (Complimentary)
              .col-sm-12.gap-10
                %button.btn.btn-danger{:role => "button"} Update view
      = render :partial => "new_grid_item", :collection => @listings, :as => :listing


  

