- slider_images = SliderImage.all
- content_for :extra_javascript do
  = javascript_include_tag 'modestmaps.min.js'
  = javascript_include_tag 'follow2.js'
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'

:css
  #map {
    float:right;
    width: 100%;
    height: 700px;
    margin-left: -150px;
    }
  #main-wrap {
    overflow: hidden;
  }

:javascript
  var count = 0;
  var places = [];
  window.onload = function(){
    initMap();
  };

  var map;
  var pointsOnMap = [];
  var initMap = function(sel_loc) {
    var location_lat;
    var location_lng;
    var mm = com.modestmaps;
    var template = 'http://otile2.mqcdn.com/tiles/1.0.0/osm/{Z}/{X}/{Y}.jpg';
    var subdomains = ['', 'a.', 'b.', 'c.'];
    var provider = new mm.TemplatedLayer(template, subdomains);

    map = new MM.Map('map', provider, null, [new MM.MouseWheelHandler(null, true)]);
    
    for(var i =0; i < places.length; i++){
    //add new points to array for later manipulation
    //console.log(places[i].lat);
     pointsOnMap[places[i].id] = new mm.Follower(map, new mm.Location(places[i].lat, places[i].long), "$"+ places[i].price);
     centerLat = places[i].lat;
     centerLong = places[i].long;
    }
    if(sel_loc == undefined || sel_loc == "all"){
      var centerLat = places[0].lat;
      var centerLong = places[0].long;
      map.setCenterZoom(new mm.Location(centerLat, centerLong), 6);
    }
    else{
      var geocoder = new google.maps.Geocoder();

      geocoder.geocode( { 'address': sel_loc}, function(results, status) {
        var location = results[0].geometry.location;
        location_lat = location.lat();
        location_lng = location.lng();
        var centerLat = location_lat;
        var centerLong = location_lng;
        map.setCenterZoom(new mm.Location(centerLat, centerLong), 6);
      });
    }
    
    //center it at first point
    // map.setCenterZoom(new mm.Location(centerLat, centerLong), 6);
  }
  
  //function for mouseover change.
  // function changeFill(el){
  //   var bubble = el.querySelector("#bubble");
  //   var bubCtx = bubble.getContext('2d');
  //   bubCtx.fillStyle = "#006666";
  //   bubCtx.fill();
  // }

  //function to change back on mouseout.
  // function changeBack(el){
  //   var bubble = el.querySelector("#bubble");
  //   var bubCtx = bubble.getContext('2d');
  //   bubCtx.fillStyle = "rgb(247, 68, 68)";
  //   bubCtx.fill();
  // }


-@listings.each do |listing|
  :javascript
      count++;
      //console.log(count);
      var test = "/listings/#{listing.url}"
      var run = httpGet(test);
      var teststring = '<input id="origin_loc_latitude" name="origin_loc[latitude]" type="hidden" value="'
      var teststring2 = '<input id="origin_loc_longitude" name="origin_loc[longitude]" type="hidden" value="'
      var index = run.indexOf(teststring);
      var index2 = run.indexOf(teststring2)
      var go = run.substring(index + teststring.length, index + teststring.length+10);
      var go2 = run.substring(index2 + teststring2.length, index2 + teststring2.length+10);
      
      var lat = parseFloat(go);
      var long = parseFloat(go2);
      //console.log(lat + " " + long);
      
      var place = {
      price: "#{listing.price}",
      id: "#{listing.id}",
      lat: lat,
      long: long,
      }
      places.push(place);
      function httpGet(theUrl)
      {
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
          xmlHttp.send( null );
          return xmlHttp.responseText;
      }

      //function for mouseover change.
      function changeFill(el){
        var mm = com.modestmaps;
        pointsOnMap[#{listing.id}] = new mm.Follower(map, new mm.Location(places[el-1].lat, places[el-1].long),"$"+ places[el-1].price,"change_color");
      }

      //function to change back on mouseout.
      function changeBack(el){
        var mm = com.modestmaps;
        pointsOnMap[#{listing.id}] = new mm.Follower(map, new mm.Location(places[el-1].lat, places[el-1].long),"$"+ places[el-1].price);        
      }
%link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"}
  %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
- content_for :javascript do
  initialize_homepage();
-unless params[:value].present?
  .container-fluid
    .row.top
      #bs-carousel.carousel.fade-carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          -(0...slider_images.count).each do |val|
            %li{ :class=>"#{(val==0 ? 'active' : '')}", "data-slide-to" => "#{val}", "data-target" => "#bs-carousel"}
        / Wrapper for slides
        .carousel-inner
          - slider_images.each_with_index do |slide,index|
            - if index == 0
              .item.slides.active
                .slide
                  %img{:alt => "slide", :src => "#{slide.avatar}", :width => "100%", :height => ""}/
                .hero
                  %hgroup
                    %h1.gap-10
                      Where would you like to
                      = succeed "work" do
                        %br/
                      today?
                    %h3 Your Office Anywhere, Anytime
                  .browse-viwe-search-form
                    %form#homepage-filters{:method => "get"}
                      - if @current_community.private?
                        %a.inline-big-button{href: sign_up_path}
                          .content
                            = t("layouts.application.connect")
                      - else
                        - if(feature_enabled?(:location_search))
                          = render :partial => "location_bar"
                        - else
                          = render :partial => "search_bar"

            - else
              .item.slides
                .slide
                  %img{:alt => "slide", :src => "#{slide.avatar}", :width => "100%", :height => "450"}/
                .hero
                  %hgroup
                    %h1.gap-10
                      Where would you like to
                      = succeed "work" do
                        %br/
                      today?
                    %h3 Your Office Anywhere, Anytime
                  .browse-view-search-form
                    %form#homepage-filters{:method => "get"}
                      - if(feature_enabled?(:location_search))
                        = render :partial => "location_bar"
                      - else
                        = render :partial => "search_bar"
          %a.right.carousel-control{ "data-slide"=>"next", "href" => "#bs-carousel"}
            %span.sr-only Next
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %a.left.carousel-control{"data-slide"=>"prev", "href" => "#bs-carousel"}
            %span.sr-only previous
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
       
      / carousel-inner close
    / carousel close
  / row close
/ container-fluid close
- if @listings.blank?
  %h1#message.gap-10
    %font{:size => "5", :color => "red"}
      No results found, Try again 
.container-fluid{style: "margin-top: 1%;"}
  .row
    .col-md-12.pad-top-10.scroll2
      =render "price_filter" unless params[:value]
      .row.pad-top-20
        = render "change_view" unless params[:value]
        -if params[:value].present?
          .row
            .col-md-7.pad-top-10.scroll2
              =render "price_filter"
              .row
                = render "change_view"
              #products.list-group
                = render :partial => "new_grid_item", :collection => @listings, :as => :listing
            .col-md-5.pad-top-10
              #map
        - else
          .col-sm-12.gap-10.row
            #products.list-group   
              = render :partial => "new_grid_item", :collection => @listings, :as => :listing

/ .row
/   #map