-#
  Listing image for grid

  Includes:
  - Listing image
  - Overlay (transparent gradient black)
  - Listing price
  - Adds `modifier_class` which can be used for view specific fine tunings


= link_to(listing_path(listing.url)) do
  - with_first_listing_image(listing) do |first_image_url|
    = image_tag first_image_url, {:alt => listed_listing_title(listing), :class => "#{modifier_class} group list-group-image", :width=>"400px", :height=>"250px"}
  .wid-100
    -if current_person.present? 
      .flag
        %a{"data-placement" => "left", "data-toggle" => "tooltip","data-remote" => "true",:href => "#{wish_list_person_listing_path(current_person.id,listing.id)}",:target => ""} 
          -if Wishlist.find_by_person_id_and_listing_id(current_person.id,listing.id).present?
            %i.fa.fa-thumbs-up{:class=>"wish_#{listing.id}"}
          -else
            %i.fa.fa-thumbs-o-up{:class=>"wish_#{listing.id}"}
      .heart
        %a{"data-placement" => "left", "data-toggle" => "tooltip","data-remote" => "true",:href => "#{favorites_like_person_listing_path(current_person.id,listing.id,:format=>"xhr")}", :target => ""}
          -if Favorite.find_by_person_id_and_listing_image_id(current_person.id,listing.id).present?
            %i.fa.fa-heart{:class=>"listing_#{listing.id}"}
          -else
            %i.fa.fa-heart-o{:class=>"listing_#{listing.id}"}
    -else
      .flag
        %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#{login_path}", :title => "Like or Unlike"}
          %i.fa.fa-thumbs-o-up
      .heart
        %a{"data-placement" => "left", "data-toggle" => "tooltip", :href => "#{login_path}", :title => "Add to Wishlist"}
          %i.fa.fa-heart-o
    .price
      %a{:href => ""}
        - if listing.price
          %small
            = humanized_money_with_symbol(listing.price).upcase
            - price_unit = price_quantity_slash_unit(listing)
            - if !price_unit.blank?
              - price_text = " " + price_unit              
              = price_text
        - else
          %small
            = shape_name(listing)
    .user
      = link_to(person_path(id: listing.author.username)) do
        = image_tag(listing.author.avatar.thumb, :class => "user-border")
  .caption
    %h4.group.inner.list-group-item-heading.gap-20{:style=>"color:#405C6F !important;"}
      =listing.title
    %p.group.inner.list-group-item-text 
      =listing.description


/ :javascript
/   $("a.button").one("click", function() {
/     $(this).click(function () { return false; });
/ });
/   });
