= render :partial => 'layouts/new_head'
  
%body
  = render :partial => 'layouts/new_global_header'
  = stylesheet_link_tag  "newcss/bootstrap.min"
  = stylesheet_link_tag  "newcss/flexisel"
  = stylesheet_link_tag  "newcss/font-awesome.min"
  = stylesheet_link_tag  "newcss/jquery-ui"
  = stylesheet_link_tag  "newcss/plugins"
  = stylesheet_link_tag  "newcss/style"
  = stylesheet_link_tag  "newcss/application"
  - if display_expiration_notice?
    = render partial: "layouts/expiration_notice",
        :locals => {external_plan_service_login_url: admin_plan_path}

  - content_for(:page_content) do
    %section.marketplace-lander
      =# yield :title_header
      / - with_big_cover_photo do
      /   .coverimage
      /     %figure.marketplace-cover.fluidratio
      /   .wrapper
      /     .lander-content-container
      /       .lander-content.marketplace-lander-content
      /         = yield :title_header
      - with_small_cover_photo do
        .coverimage
          %figure.marketplace-cover-small.fluidratio
          .coverimage-fade{:class => yield(:coverfade_class)}
            %figure.marketplace-cover-small-fade.fluidratio
        .title-container
          .title-header-wrapper
            .marketplace-title-header
              = yield :title_header

    %article.page-content
      .wrapper
        = render :partial => "layouts/notifications"
        = yield

  -#
    This is not pretty, but works.
    On homepage, we want to wrap the whole page content (search bar and the "real" content) to a form, so that
    pressing send from either search bar of filter list will send all the form fields

  - if params[:controller] == "homepage" && params[:action] == "index"
    %form{method: "get", id: "homepage-filters"}
      - params.except("action", "controller", "q", "view", "utf8").each do |param, value|
        - unless param.match(/^filter_option/) || param.match(/^checkbox_filter_option/) || param.match(/^nf_/) || param.match(/^price_/)
          = hidden_field_tag param, value
      = hidden_field_tag "view", @view_type
      = content_for(:page_content)
  - else
    = content_for(:page_content)

  = render :partial => "layouts/google_analytics_script"

  -# Most of the JavaScript should be for performance reasons at the end of the body

  = content_for(:location_search)

  -# load Facebook SDK for the whole page
  = render :partial => "layouts/facebook_sdk"

  = javascript_include_tag 'newjs/application'

  - if @analytics_event
    :javascript
      report_analytics_event(#{@analytics_event});

  -# Disable animations on tests
  - if Rails.env.test?
    :javascript
      $(function() {
        $.transit.enabled = false;
      });

  = content_for :extra_javascript








:javascript
  $(document).ready(
    
    /* This is the function that will get executed after the DOM is fully loaded */
    function () {
      $( "#adaad" ).datepicker({
        changeMonth: true,//this option for allowing user to select month
        changeYear: true //this option for allowing user to select from year range
      });
       $( "#adaadd" ).datepicker({
        changeMonth: true,//this option for allowing user to select month
        changeYear: true //this option for allowing user to select from year range
      });
    }
  );
  $(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 5000,
      values: [ 0, 5000 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  });

/ :javascript
/   window.ST.rangeFilter("#range-slider-price", [0, 5000], [0, 5000], ["#price-filter-min-value", "#price-filter-max-value"], ["#price_min", "#price_max"], false)
:javascript
  $('#slide-submenu').on('click',function(e) {  
      e.preventDefault();             
        $(this).closest('.list-group').fadeOut('slide',function(){
          $('.mini-submenu').fadeIn();  
        });
        
      });

  $('.mini-submenu').on('click',function(e){  
        e.preventDefault(); 
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
  })

:javascript
  $(document).ready(function(){
      $("#showmore").click(function(){
          $("#moreview").show(1000);
      });
    
      $("#close").click(function(){
          $("#moreview").hide(1000);
      });

      $("#sel1").bind('change', function () {
         var url = "/?category=" + $(this).val().toLowerCase();
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
  });

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });

  $(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
  });




:css
  .pad-top-10{padding-top:10px;}
  .pad-top-30{padding-top:30px;}
  hr{height:1px;background:#999;margin-top:1px;margin-bottom:1px;}
  .form-horizontal .control-label{padding-top:0px;}
  .scroll{height:136px;overflow:scroll;overflow-x: hidden;}
  .gap-10{margin-bottom:10px;}
  .pad-lft{padding-left:15px;}
  [class*=col-]:first-child {padding-left:15px;}
  .btn-pad{padding-left:20px;padding-right:20px;}
  .label, label {float:left;width:inherit;margin-top:0;}
  input[type=text], input[type=password], input[type=number], textarea {border: 1px solid #c3c3c3;min-height:34px;width: 100%;padding: 0.25em 0.5em;}
  .moreview{display:none;}
:javascript
  window.fbAsyncInit = function() {
  
  FB.init({
  appId      : '1668524880060239', // Community App ID if availble or else the one from the app dashboard
  channelUrl : '//listing.spacessy.co/channel.html', // Channel file for x-domain comms
  status     : false,                                 // Check Facebook Login status
  xfbml      : true,                                  // Look for social plugins on the page
  version    : 'v2.3'
  });
  
  };
  
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
